# Node modules
node_modules/

# Environment variables
.env

# WhatsApp Web session data
.wwebjs_auth/
.wwebjs_cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Build output
dist/

# IDE settings (opsional)
.vscode/
.idea/
